Package: numberguessinggame
Version: 0.1.3
Section: games
Priority: optional
Architecture: all
Depends: default-jre | java8-runtime
Maintainer: project516 <project516.progress139@slmail.me>
Description: A simple number guessing game
 A simple number guessing game where you try to guess a randomly
 generated number. The game will tell you if your guess is too high
 or too low until you find the correct number.
