# SPDX-FileCopyrightText: 2026 Project516 <138796702+Project516@users.noreply.github.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# Ignore all build artifacts in this directory
*
# But keep this .gitignore file
!.gitignore
